main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  height: calc(100vh);
  background: var(--hero-background);
  background: var(--hero-background-gradient);
}

.hero-text {
  font-family: "Montserrat";
  color: var(--alice-blue);
  padding: 0 5% 0 10%;
}

.hero-text span {
  font-weight: 300;
  font-size: 1.3rem;
  color: var(--faded-white);
}

.hero-text h1 {
  font-weight: 800;
  font-size: 3.5rem;
  margin: 1rem 0;
}

.hero-text h1 span {
  color: var(--apple-green);
  font-weight: 800;
  font-size: 3.5rem;
  margin: 1rem 0;
}

.hero-text p {
  font-weight: 500;
  line-height: 1.5em;
  font-size: 1rem;
  color: var(--faded-white);
  margin: 1rem 0;
}

.hero-text h3 {
  font-weight: 400;
  font-size: 1rem;
  margin: 2rem 0;
  color: var(--faded-white);
}

.hero-text .main-btn {
  margin-top: 3rem;
}

.hero-img img {
  max-width: 100%;
  margin: 0 auto;
}
.hero-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
