/* CSS HEX */
:root {
  --lapis-lazuli: #05668dff;
  --ucla-blue: #427aa1ff;
  --alice-blue: #ebf2faff;
  --asparagus: #679436ff;
  --apple-green: #a5be00ff;
  --charcoal: rgb(29, 29, 29);
  --hero-background: rgb(2, 0, 36);
  --hero-background-gradient: linear-gradient(0deg, rgb(23, 23, 23) 0%, rgb(29, 29, 29) 50%, rgb(40, 40, 40) 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
