/* CSS HEX */
:root {
  --lapis-lazuli: #05668dff;
  --ucla-blue: #427aa1ff;
  --alice-blue: #f6f6f6;
  --faded-white: #969696;
  --asparagus: #365a08;
  --apple-green: #72eb3a;
  --light-charcoal: #2b2b2b;
  --charcoal: #1b1d24;
  --hero-background: rgb(2, 0, 36);
  --hero-background-gradient: linear-gradient(0deg, rgb(23, 23, 23) 0%, #1b1d24 50%, rgb(28, 28, 28) 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
