nav {
  display: flex;
  position: absolute;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}

nav h1 {
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 2rem;
  color: var(--alice-blue);
  margin: 0;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-content: center;
  list-style: none;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li .nav-item {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 1.2rem;
  color: var(--alice-blue);
  text-decoration: none;
}
